In [5]:
from burstextractor.burstlist import download_burst_list, process_burst_list
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [2]:
years = [2021, 2022, 2023]
months = range(1, 12+1)
burst_lists = []
for year in years:
    for month in months:
        if month > datetime.datetime.now().month and year == datetime.datetime.now().year:
            break
        download_burst_list(year, month)
        burst_lists.append(process_burst_list(f"e-CALLISTO_{year}_{month:02}.txt"))

/home/vincenzo/sunflare_prediction/burstextractor/burstlist.py:29: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  data = pd.read_csv(filename, sep="\t", index_col=False, encoding=ENCODING, names=col_names, engine="python", skiprows=skip_row_idxs, dtype=str)
/home/vincenzo/sunflare_prediction/burstextractor/burstlist.py:29: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  data = pd.read_csv(filename, sep="\t", index_col=False, encoding=ENCODING, names=col_names, engine="python", skiprows=skip_row_idxs, dtype=str)

In [3]:
burst_lists = pd.concat(burst_lists)

In [ ]:
# Burst duration of less than 0 seconds
burst_lists[burst_lists.duration.dt.total_seconds() < 0]

In [24]:
# Burst duration of more than 4 hours
burst_lists[burst_lists.duration.dt.total_seconds() >= 10*60*60]

,date,time,type,instruments,datetime_start,datetime_end,duration
55,20210908,02:35-23:50,CTM,"AUSTRTIA-MICHELBACH, AUSTRIA-UNIGRAZ, Australi...",2021-09-08 02:35:00,2021-09-08 23:50:00,0 days 21:15:00
151,20220130,00:00-23:59,CTM,"ALASKA-COHOE, ALASKA-HAARP, (Arecibo-Observato...",2022-01-30 00:00:00,2022-01-30 23:59:00,0 days 23:59:00
169,20220131,00:00-20:00,CTM,"ALMATY, Australia-ASSA, AUSTRIA-UNIGRAZ, Areci...",2022-01-31 00:00:00,2022-01-31 20:00:00,0 days 20:00:00
0,20220201,00:00-18:26,CTM,"ALMATY, Australia-ASSA, AUSTRIA-UNIGRAZ, Areci...",2022-02-01 00:00:00,2022-02-01 18:26:00,0 days 18:26:00
113,20220206,13:46-23:59,CTM,"AUSTRIA-UNIGRAZ, Arecibo-Observatory, BIR, GLA...",2022-02-06 13:46:00,2022-02-06 23:59:00,0 days 10:13:00
120,20220207,00:00-23:59,CTM,"ALASKA-COHOE, Australia-ASSA, GLASGOW, GREENLA...",2022-02-07 00:00:00,2022-02-07 23:59:00,0 days 23:59:00
186,20220421,00:32-14:33,III,"AUSTRIA-MICHELBACH, Arecibo-Observatory, GLASG...",2022-04-21 00:32:00,2022-04-21 14:33:00,0 days 14:01:00
122,20220620,00:00-23:59,CTMCAU,"ALASKA-COHOE, ALASKA-HAARP, ALMATY, AUSTRIA-Kr...",2022-06-20 00:00:00,2022-06-20 23:59:00,0 days 23:59:00
123,20220620,00:00-23:59,VI,"ALASKA-COHOE, ALASKA-HAARP, ALMATY, AUSTRIA-Kr...",2022-06-20 00:00:00,2022-06-20 23:59:00,0 days 23:59:00
125,20220621,00:00-23:59,CTMCAU,"ALASKA-COHOE, ALASKA-HAARP, ALMATY, AUSTRIA-MI...",2022-06-21 00:00:00,2022-06-21 23:59:00,0 days 23:59:00
126,20220621,00:00-23:59,VI,"ALASKA-COHOE, ALASKA-HAARP, ALMATY, AUSTRIA-MI...",2022-06-21 00:00:00,2022-06-21 23:59:00,0 days 23:59:00
137,20220622,00:00-23:59,CTM,"ALASKA-COHOE, ALASKA-HAARP, Australia-ASSA",2022-06-22 00:00:00,2022-06-22 23:59:00,0 days 23:59:00
140,20220624,00:00-23:59,CTM,"ALASKA-COHOE, ALASKA-HAARP, KRIM",2022-06-24 00:00:00,2022-06-24 23:59:00,0 days 23:59:00
139,20220710,03:26-13:30,CTM,"Australia-ASSA, GREENLAND, HUMAIN, INDIA-OOTY,...",2022-07-10 03:26:00,2022-07-10 13:30:00,0 days 10:04:00
147,20220711,09:58-23:59,CTM,"ALASKA-COHOE, ALASKA-HAARP, (AUSTRIA-UNIGRAZ),...",2022-07-11 09:58:00,2022-07-11 23:59:00,0 days 14:01:00
154,20220712,12:46-23:59,CTM+VI,"ALASKA-COHOE, ALASKA-HAARP, AUSTRIA-UNIGRAZ, A...",2022-07-12 12:46:00,2022-07-12 23:59:00,0 days 11:13:00
172,20220714,13:16-23:59,VI,"Arecibo-Observatory, GREENLAND",2022-07-14 13:16:00,2022-07-14 23:59:00,0 days 10:43:00
264,20220927,08:32-19:30,CTM,*,2022-09-27 08:32:00,2022-09-27 19:30:00,0 days 10:58:00
269,20220928,12:50-23:59,CTM/VI,*,2022-09-28 12:50:00,2022-09-28 23:59:00,0 days 11:09:00
170,20221216,00:00-23:59,VI/CTM,*,2022-12-16 00:00:00,2022-12-16 23:59:00,0 days 23:59:00
185,20221217,00:00-23:59,CTM,*,2022-12-17 00:00:00,2022-12-17 23:59:00,0 days 23:59:00
186,20221217,00:02-23:59,VI,*,2022-12-17 00:02:00,2022-12-17 23:59:00,0 days 23:57:00
210,20221218,07:32-23:59,CAU,*,2022-12-18 07:32:00,2022-12-18 23:59:00,0 days 16:27:00

In [16]:
burst_lists_filtered = burst_lists[burst_lists.duration.dt.total_seconds() >= 0]

In [21]:
burst_lists_filtered = burst_lists_filtered[burst_lists_filtered.duration.dt.total_seconds() / 60 > 10*60]
burst_lists_filtered

,date,time,type,instruments,datetime_start,datetime_end,duration
55,20210908,02:35-23:50,CTM,"AUSTRTIA-MICHELBACH, AUSTRIA-UNIGRAZ, Australi...",2021-09-08 02:35:00,2021-09-08 23:50:00,0 days 21:15:00
151,20220130,00:00-23:59,CTM,"ALASKA-COHOE, ALASKA-HAARP, (Arecibo-Observato...",2022-01-30 00:00:00,2022-01-30 23:59:00,0 days 23:59:00
169,20220131,00:00-20:00,CTM,"ALMATY, Australia-ASSA, AUSTRIA-UNIGRAZ, Areci...",2022-01-31 00:00:00,2022-01-31 20:00:00,0 days 20:00:00
0,20220201,00:00-18:26,CTM,"ALMATY, Australia-ASSA, AUSTRIA-UNIGRAZ, Areci...",2022-02-01 00:00:00,2022-02-01 18:26:00,0 days 18:26:00
113,20220206,13:46-23:59,CTM,"AUSTRIA-UNIGRAZ, Arecibo-Observatory, BIR, GLA...",2022-02-06 13:46:00,2022-02-06 23:59:00,0 days 10:13:00
120,20220207,00:00-23:59,CTM,"ALASKA-COHOE, Australia-ASSA, GLASGOW, GREENLA...",2022-02-07 00:00:00,2022-02-07 23:59:00,0 days 23:59:00
186,20220421,00:32-14:33,III,"AUSTRIA-MICHELBACH, Arecibo-Observatory, GLASG...",2022-04-21 00:32:00,2022-04-21 14:33:00,0 days 14:01:00
122,20220620,00:00-23:59,CTMCAU,"ALASKA-COHOE, ALASKA-HAARP, ALMATY, AUSTRIA-Kr...",2022-06-20 00:00:00,2022-06-20 23:59:00,0 days 23:59:00
123,20220620,00:00-23:59,VI,"ALASKA-COHOE, ALASKA-HAARP, ALMATY, AUSTRIA-Kr...",2022-06-20 00:00:00,2022-06-20 23:59:00,0 days 23:59:00
125,20220621,00:00-23:59,CTMCAU,"ALASKA-COHOE, ALASKA-HAARP, ALMATY, AUSTRIA-MI...",2022-06-21 00:00:00,2022-06-21 23:59:00,0 days 23:59:00
126,20220621,00:00-23:59,VI,"ALASKA-COHOE, ALASKA-HAARP, ALMATY, AUSTRIA-MI...",2022-06-21 00:00:00,2022-06-21 23:59:00,0 days 23:59:00
137,20220622,00:00-23:59,CTM,"ALASKA-COHOE, ALASKA-HAARP, Australia-ASSA",2022-06-22 00:00:00,2022-06-22 23:59:00,0 days 23:59:00
140,20220624,00:00-23:59,CTM,"ALASKA-COHOE, ALASKA-HAARP, KRIM",2022-06-24 00:00:00,2022-06-24 23:59:00,0 days 23:59:00
139,20220710,03:26-13:30,CTM,"Australia-ASSA, GREENLAND, HUMAIN, INDIA-OOTY,...",2022-07-10 03:26:00,2022-07-10 13:30:00,0 days 10:04:00
147,20220711,09:58-23:59,CTM,"ALASKA-COHOE, ALASKA-HAARP, (AUSTRIA-UNIGRAZ),...",2022-07-11 09:58:00,2022-07-11 23:59:00,0 days 14:01:00
154,20220712,12:46-23:59,CTM+VI,"ALASKA-COHOE, ALASKA-HAARP, AUSTRIA-UNIGRAZ, A...",2022-07-12 12:46:00,2022-07-12 23:59:00,0 days 11:13:00
172,20220714,13:16-23:59,VI,"Arecibo-Observatory, GREENLAND",2022-07-14 13:16:00,2022-07-14 23:59:00,0 days 10:43:00
264,20220927,08:32-19:30,CTM,*,2022-09-27 08:32:00,2022-09-27 19:30:00,0 days 10:58:00
269,20220928,12:50-23:59,CTM/VI,*,2022-09-28 12:50:00,2022-09-28 23:59:00,0 days 11:09:00
170,20221216,00:00-23:59,VI/CTM,*,2022-12-16 00:00:00,2022-12-16 23:59:00,0 days 23:59:00
185,20221217,00:00-23:59,CTM,*,2022-12-17 00:00:00,2022-12-17 23:59:00,0 days 23:59:00
186,20221217,00:02-23:59,VI,*,2022-12-17 00:02:00,2022-12-17 23:59:00,0 days 23:57:00
210,20221218,07:32-23:59,CAU,*,2022-12-18 07:32:00,2022-12-18 23:59:00,0 days 16:27:00

## EDA

In [18]:
# Mean duration of bursts in minutes
(burst_lists_filtered.duration.dt.total_seconds()/60).describe()

count    4711.000000
mean       16.677988
std        93.868108
min         0.000000
25%         0.000000
50%         1.000000
75%         4.000000
max      1439.000000
Name: duration, dtype: float64

In [33]:
burst_lists[0].Time.iloc[3][5]

'-'