In [2]:
from database_functions import *
from database_utils import *

In [3]:
query = timebucket_values_from_database_sql('swiss_landschlacht_63', '2023-01-25 02:30:00', '2023-02-08 03:30:00', timebucket='5m', agg_function='MAX', return_query=True)

In [4]:
def run_query(query):
    with psycopg2.connect(CONNECTION) as conn:
        cursor = conn.cursor()
        cursor.execute(query)
        tuple_list = cursor.fetchall()
        return tuple_list

In [118]:
def run_query(query, params=None):
    with psycopg2.connect(CONNECTION) as conn:
        with conn.cursor() as cursor:
            if params:
                cursor.execute(query, params)
            else:
                cursor.execute(query)
            if cursor.description:
                return cursor.fetchall()
            else:
                return None

In [219]:
def commit_query(query):
    with psycopg2.connect(CONNECTION) as conn:
        with conn.cursor() as cursor:
            cursor.execute(query)
            conn.commit()
    return

In [234]:
commit_query('DROP FUNCTION IF EXISTS get_column_aggregation(text);')

In [261]:
query = """
CREATE OR REPLACE FUNCTION column_aggregation_query(p_table_name text, p_start_time timestamp, p_end_time timestamp, p_timebucket text, p_agg_function text)
RETURNS TABLE (time timestamp, column_name text, value numeric) AS $$
DECLARE
  columns text[];
  col text;
  query text;
BEGIN
  SELECT ARRAY_AGG(column_name::text) INTO columns
  FROM information_schema.columns
  WHERE table_name = p_table_name
    AND column_name <> 'datetime';

  query := 'SELECT time_bucket($1, datetime) AS time, ';
  FOREACH col IN ARRAY columns LOOP
    query := query || 'AVG("' || col || '") AS "' || col || '", ';
  END LOOP;
  query := LEFT(query, LENGTH(query) - 2) || ' FROM ' || p_table_name ||
           ' WHERE datetime BETWEEN $2 AND $3 ' ||
           ' GROUP BY time ';
  query := query || ' ORDER BY time';

  EXECUTE query USING p_timebucket, p_start_time, p_end_time;
END;
$$ LANGUAGE plpgsql;
"""

In [262]:
query = """
CREATE OR REPLACE FUNCTION column_aggregation_query(p_table_name text, p_start_time timestamp, p_end_time timestamp, p_timebucket text, p_agg_function text)
RETURNS text AS $$
DECLARE
  columns text[];
  col text;
  query_text text;
BEGIN
  SELECT ARRAY_AGG(column_name::text) INTO columns
  FROM information_schema.columns
  WHERE table_name = p_table_name
    AND column_name <> 'datetime';

  query_text := 'SELECT time_bucket($1, datetime) AS time, ';
  FOREACH col IN ARRAY columns LOOP
    query_text := query_text || p_agg_function'("' || col || '") AS "' || col || '", ';
  END LOOP;
  query_text := LEFT(query_text, LENGTH(query_text) - 2) || ' FROM ' || p_table_name ||
           ' WHERE datetime BETWEEN $2 AND $3 ' ||
           ' GROUP BY time ';
  query_text := query_text || ' ORDER BY time';

  RETURN query_text;
END;
$$ LANGUAGE plpgsql;
"""

In [259]:
commit_query(query)

In [263]:
run_query("SELECT column_aggregation_query('swiss_landschlacht_63', '2023-01-25 02:30:00', '2023-02-08 03:30:00', '5m', 'AVG');")

UndefinedObject: type "p_agg_function" does not exist
LINE 1: query_text := query_text || p_agg_function'("' || col || '")...
                                    ^
QUERY:  query_text := query_text || p_agg_function'("' || col || '") AS "' || col || '", '
CONTEXT:  PL/pgSQL function column_aggregation_query(text,timestamp without time zone,timestamp without time zone,text,text) line 14 at assignment

In [39]:
def get_aggregate_columns(table_name):
    query = f'''
        SELECT STRING_AGG('AVG("'|| column_name || '") AS "' || column_name || '"', ', ' ORDER BY column_name::numeric)
        FROM information_schema.columns
        WHERE table_name = '{table_name}'
          AND column_name NOT IN ('datetime');
    '''
    return run_query(query)[0][0]

In [40]:
get_aggregate_columns('swiss_landschlacht_63')

'AVG("45.0") AS "45.0", AVG("45.5") AS "45.5", AVG("46.375") AS "46.375", AVG("46.5629997253418") AS "46.5629997253418", AVG("47.375") AS "47.375", AVG("47.6879997253418") AS "47.6879997253418", AVG("48.375") AS "48.375", AVG("48.5629997253418") AS "48.5629997253418", AVG("49.25") AS "49.25", AVG("49.5629997253418") AS "49.5629997253418", AVG("50.4379997253418") AS "50.4379997253418", AVG("50.6879997253418") AS "50.6879997253418", AVG("51.3129997253418") AS "51.3129997253418", AVG("51.6879997253418") AS "51.6879997253418", AVG("52.3129997253418") AS "52.3129997253418", AVG("52.6879997253418") AS "52.6879997253418", AVG("53.375") AS "53.375", AVG("53.5629997253418") AS "53.5629997253418", AVG("54.375") AS "54.375", AVG("54.625") AS "54.625", AVG("55.4379997253418") AS "55.4379997253418", AVG("55.8129997253418") AS "55.8129997253418", AVG("56.4379997253418") AS "56.4379997253418", AVG("56.5") AS "56.5", AVG("57.375") AS "57.375", AVG("57.75") AS "57.75", AVG("58.4379997253418") AS "58.4379997253418", AVG("58.625") AS "58.625", AVG("59.4379997253418") AS "59.4379997253418", AVG("59.5629997253418") AS "59.5629997253418", AVG("60.4379997253418") AS "60.4379997253418", AVG("60.6879997253418") AS "60.6879997253418", AVG("61.375") AS "61.375", AVG("61.625") AS "61.625", AVG("62.3129997253418") AS "62.3129997253418", AVG("62.625") AS "62.625", AVG("63.375") AS "63.375", AVG("63.5") AS "63.5", AVG("64.375") AS "64.375", AVG("64.5") AS "64.5", AVG("65.43800354003906") AS "65.43800354003906", AVG("65.75") AS "65.75", AVG("66.375") AS "66.375", AVG("66.625") AS "66.625", AVG("67.43800354003906") AS "67.43800354003906", AVG("67.56300354003906") AS "67.56300354003906", AVG("68.43800354003906") AS "68.43800354003906", AVG("68.5") AS "68.5", AVG("69.375") AS "69.375", AVG("69.75") AS "69.75", AVG("70.375") AS "70.375", AVG("70.56300354003906") AS "70.56300354003906", AVG("71.375") AS "71.375", AVG("71.56300354003906") AS "71.56300354003906", AVG("72.43800354003906") AS "72.43800354003906", AVG("72.68800354003906") AS "72.68800354003906", AVG("73.375") AS "73.375", AVG("73.625") AS "73.625", AVG("74.31300354003906") AS "74.31300354003906", AVG("74.75") AS "74.75", AVG("75.25") AS "75.25", AVG("75.5") AS "75.5", AVG("76.43800354003906") AS "76.43800354003906", AVG("76.625") AS "76.625", AVG("77.25") AS "77.25", AVG("77.875") AS "77.875", AVG("78.43800354003906") AS "78.43800354003906", AVG("78.81300354003906") AS "78.81300354003906", AVG("79.125") AS "79.125", AVG("79.81300354003906") AS "79.81300354003906", AVG("114.43800354003906") AS "114.43800354003906", AVG("114.625") AS "114.625", AVG("115.5") AS "115.5", AVG("115.625") AS "115.625", AVG("116.375") AS "116.375", AVG("116.875") AS "116.875", AVG("117.31300354003906") AS "117.31300354003906", AVG("117.75") AS "117.75", AVG("118.06300354003906") AS "118.06300354003906", AVG("118.75") AS "118.75", AVG("119.25") AS "119.25", AVG("119.56300354003906") AS "119.56300354003906", AVG("120.43800354003906") AS "120.43800354003906", AVG("120.625") AS "120.625", AVG("121.43800354003906") AS "121.43800354003906", AVG("121.625") AS "121.625", AVG("122.25") AS "122.25", AVG("123.0") AS "123.0", AVG("123.06300354003906") AS "123.06300354003906", AVG("124.0") AS "124.0", AVG("124.125") AS "124.125", AVG("124.56300354003906") AS "124.56300354003906", AVG("125.5") AS "125.5", AVG("125.56300354003906") AS "125.56300354003906", AVG("126.25") AS "126.25", AVG("126.68800354003906") AS "126.68800354003906", AVG("127.06300354003906") AS "127.06300354003906", AVG("127.93800354003906") AS "127.93800354003906", AVG("128.31300354003906") AS "128.31300354003906", AVG("128.68800354003906") AS "128.68800354003906", AVG("129.43800354003906") AS "129.43800354003906", AVG("130.0") AS "130.0", AVG("130.25") AS "130.25", AVG("130.81300354003906") AS "130.81300354003906", AVG("131.18800354003906") AS "131.18800354003906", AVG("131.81300354003906") AS "131.81300354003906", AVG("132.43800354003906") AS "132.43800354003906", AVG("132.625") AS "132.625", AVG("133.5") AS "133.5", AVG("133.625") AS "133.625", AVG("134.31300354003906") AS "134.31300354003906", AVG("134.81300354003906") AS "134.81300354003906", AVG("135.31300354003906") AS "135.31300354003906", AVG("135.68800354003906") AS "135.68800354003906", AVG("136.5") AS "136.5", AVG("136.875") AS "136.875", AVG("137.5") AS "137.5", AVG("138.0") AS "138.0", AVG("138.06300354003906") AS "138.06300354003906", AVG("138.93800354003906") AS "138.93800354003906", AVG("139.18800354003906") AS "139.18800354003906", AVG("139.875") AS "139.875", AVG("140.375") AS "140.375", AVG("140.68800354003906") AS "140.68800354003906", AVG("141.06300354003906") AS "141.06300354003906", AVG("141.625") AS "141.625", AVG("142.375") AS "142.375", AVG("142.81300354003906") AS "142.81300354003906", AVG("143.125") AS "143.125", AVG("143.56300354003906") AS "143.56300354003906", AVG("144.43800354003906") AS "144.43800354003906", AVG("144.56300354003906") AS "144.56300354003906", AVG("145.375") AS "145.375", AVG("145.56300354003906") AS "145.56300354003906", AVG("146.25") AS "146.25", AVG("146.68800354003906") AS "146.68800354003906", AVG("147.375") AS "147.375", AVG("147.75") AS "147.75", AVG("148.18800354003906") AS "148.18800354003906", AVG("148.81300354003906") AS "148.81300354003906", AVG("149.18800354003906") AS "149.18800354003906", AVG("149.625") AS "149.625", AVG("150.375") AS "150.375", AVG("150.56300354003906") AS "150.56300354003906", AVG("151.43800354003906") AS "151.43800354003906", AVG("151.81300354003906") AS "151.81300354003906", AVG("152.5") AS "152.5", AVG("152.68800354003906") AS "152.68800354003906", AVG("153.06300354003906") AS "153.06300354003906", AVG("154.0") AS "154.0", AVG("154.125") AS "154.125", AVG("154.68800354003906") AS "154.68800354003906", AVG("155.375") AS "155.375", AVG("155.75") AS "155.75", AVG("156.5") AS "156.5", AVG("156.68800354003906") AS "156.68800354003906", AVG("157.5") AS "157.5", AVG("158.0") AS "158.0", AVG("158.375") AS "158.375", AVG("158.68800354003906") AS "158.68800354003906", AVG("159.06300354003906") AS "159.06300354003906", AVG("159.56300354003906") AS "159.56300354003906", AVG("160.25") AS "160.25", AVG("161.0") AS "161.0", AVG("161.125") AS "161.125", AVG("161.93800354003906") AS "161.93800354003906", AVG("162.06300354003906") AS "162.06300354003906", AVG("162.93800354003906") AS "162.93800354003906", AVG("163.125") AS "163.125", AVG("163.68800354003906") AS "163.68800354003906", AVG("164.43800354003906") AS "164.43800354003906", AVG("164.875") AS "164.875", AVG("165.5") AS "165.5", AVG("165.56300354003906") AS "165.56300354003906", AVG("166.18800354003906") AS "166.18800354003906", AVG("166.93800354003906") AS "166.93800354003906", AVG("167.43800354003906") AS "167.43800354003906", AVG("167.75") AS "167.75", AVG("168.5") AS "168.5", AVG("169.0") AS "169.0", AVG("169.5") AS "169.5", AVG("169.93800354003906") AS "169.93800354003906", AVG("170.375") AS "170.375", AVG("170.56300354003906") AS "170.56300354003906", AVG("171.125") AS "171.125", AVG("171.75") AS "171.75", AVG("172.125") AS "172.125", AVG("172.56300354003906") AS "172.56300354003906", AVG("173.43800354003906") AS "173.43800354003906", AVG("173.56300354003906") AS "173.56300354003906", AVG("174.25") AS "174.25", AVG("174.56300354003906") AS "174.56300354003906"'

In [1]:
get_aggregate_columns('swiss_landschlacht_63')

NameError: name 'get_aggregate_columns' is not defined

In [73]:
run_query(query)

ProgrammingError: no results to fetch

In [76]:
query = """SELECT * FROM get_aggregate_columns('swiss_landschlacht_63');"""

In [77]:
run_query(query)

AmbiguousColumn: column reference "table_name" is ambiguous
LINE 19:         WHERE table_name = 'swiss_landschlacht_63'
                       ^
DETAIL:  It could refer to either a PL/pgSQL variable or a table column.
QUERY:  SELECT STRING_AGG(agg_function || '(' || column_name || ')', ', ')
                    FROM (
        SELECT column_name,
               CASE
                   WHEN data_type = 'integer' THEN 'avg'
                   WHEN data_type = 'numeric' THEN 'avg'
                   WHEN data_type = 'double precision' THEN 'avg'
                   WHEN data_type = 'bigint' THEN 'avg'
                   WHEN data_type = 'smallint' THEN 'avg'
                   WHEN data_type = 'real' THEN 'avg'
                   WHEN data_type = 'timestamp without time zone' THEN 'avg'
                   WHEN data_type = 'timestamp with time zone' THEN 'avg'
                   WHEN data_type = 'date' THEN 'avg'
                   WHEN data_type = 'time without time zone' THEN 'avg'
                   WHEN data_type = 'time with time zone' THEN 'avg'
                   ELSE NULL
               END AS agg_function
        FROM information_schema.columns
        WHERE table_name = 'swiss_landschlacht_63'
    ) t
    WHERE agg_function IS NOT NULL
CONTEXT:  PL/pgSQL function get_aggregate_columns(text) line 5 at SQL statement

In [5]:
get_table_names_sql()

['malaysia_banting_01',
 'india_ooty_02',
 'ssrt_59',
 'roswell_nm_57',
 'poland_grotniki_03',
 'egypt_alexandria_01',
 'usa_arizona_erau_01',
 'spain_siguenza_02',
 'mexico_lance_a_63',
 'germany_dlr_62',
 'mexico_lance_b_62',
 'egypt_alexandria_02',
 'australia_lmro_59',
 'india_gauri_59',
 'australia_assa_60',
 'romania_01',
 'almaty_58',
 'swiss_hb9sct_01',
 'bir_01',
 'alaska_haarp_62',
 'glasgow_01',
 'mrt1_02',
 'alaska_cohoe_63',
 'alaska_cohoe_62',
 'arecibo_observatory_62',
 'australia_assa_63',
 'norway_ny_aalesund_01',
 'germany_dlr_63',
 'humain_59',
 'germany_dlr_01',
 'india_ooty_01',
 'spain_peralejos_03',
 'mongolia_ub_01',
 'austria_oe3flb_55',
 'triest_60',
 'swiss_irsol_01',
 'spain_peralejos_62',
 'mro_62',
 'alaska_haarp_63',
 'roswell_nm_59',
 'triest_59',
 'spain_peralejos_63',
 'algeria_craag_59',
 'japan_ibaraki_59',
 'swiss_muhen_62',
 'mrt3_03',
 'norway_egersund_01',
 'roswell_nm_58',
 'mro_59',
 'austria_oe3flb_57',
 'alaska_anchorage_01',
 'hurbanovo_59',
 'norway_randaberg_01',
 'arecibo_observatory_63',
 'swiss_landschlacht_63',
 'mro_60',
 'mro_61',
 'mrt3_02',
 'australia_assa_62',
 'uruguay_02',
 'kasi_59',
 'mexart_59',
 'almaty_59',
 'unam_59',
 'india_udaipur_01',
 'southafrica_sansa_01',
 'indonesia_59',
 'triest_57',
 'paraguay_01',
 'swiss_landschlacht_62',
 'austria_unigraz_01',
 'swiss_muhen_63',
 'mrt1_03',
 'sri_lanka_59',
 'swiss_muhen_03',
 'austria_unigraz_02']